<footer class="host">

  <div class="text">Developed by <a href="https://lamnhan.com" target="_blank"><strong>Lam Nhan</strong></a> with 💝, unders the <strong>MIT</strong> license.</div>

  <nav class="menu">
    <ul>
      <li>
        <a href="mailto:dev@lamnhan.com">Email</a>
      </li>
      <li>
        <a href="https://m.me/lamhiennhan" target="_blank">Messenger</a>
      </li>
      <li>
        <a href="https://github.com/lamnhan" target="_blank">Github</a>
      </li>
    </ul>
  </nav>

</footer>