.host {
  background: var(--app-color-light-shade);
  text-align: center;
  padding: 3rem 1rem;
  min-height: calc(100vh - 65px - 112px);

  h3 {
    margin-top: 2rem;
  }

  p {
    color: var(--app-color-medium);
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {

  .host {
    min-height: calc(100vh - 65px - 72px);
  }

}
