:host {

  section {

    .title, .body {
      padding: 1rem;
      width: 100%;
      max-width: 992px;
      margin: auto;
    }

    .title {

      strong, span {
        display: block;
      }

      strong {
        font-family: var(--app-font-head);
        font-size: 4.5rem;
        font-weight: 400;
      }

      span {
        font-size: 1.2rem;
      }
    }

    .body {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .heading {
    background: var(--app-color-light);
    padding: 5rem 0;

    .text, .action {
      padding: 1rem;
      width: 100%;
      max-width: 992px;
      margin: auto;
    }

    .text {
      text-align: center;
      
      h2 {
        color: var(--app-color-primary);
        font-size: 4rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    .action {
      text-align: center;

      a {
        font-weight: 700;
        padding: 1rem 2rem;
      }
    }
  }

  .logo {
    background: var(--app-color-success);
    padding: 5rem 0;

    .title {
      color: var(--app-color-light);
    }

    .body {

      img {
        width: 100%;
      }
    }
  }
}